# thumbnails created by windows
Thumbs.db

# IDE files
.idea/

# any specific configuration
config.yml

# setuptools
server/dist
*.egg-info

# Python "binaries"
__pycache__/
*.py[cod]
*$py.class

# temporary stuff
playground/

# built documentation
docs/_build

